body
{
	background: rgb(230, 21, 21);
}

	.login_div1 
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}

	.login_div2 {
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}

